@model IEnumerable<Usuario>

@{
    ViewBag.Title = "Listado de Usuarios";
}

<h2 class="mb-4">Listado de Usuarios</h2>

@if (TempData["ErrorEliminar"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorEliminar"]
    </div>
}

<input type="text" id="busquedaUsuarios" placeholder="Buscar por nombre de usuario o nombre de socio" class="form-control mb-3" />

<p>
    @Html.ActionLink("Crear nuevo usuario", "Create", null, new { @class = "btn btn-success mb-3" })
</p>

<div id="resultadoBusquedaUsuarios">
    @Html.Partial("_UsuariosParcial", Model) 
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#busquedaUsuarios').on('input', function () {
                var query = $(this).val();

                $.get('@Url.Action("BuscarUsuarios", "Usuarios")', { query: query }, function (data) {
                    $('#resultadoBusquedaUsuarios').html(data);
                });
            });
        });
    </script>
}
